name: C/C++ CI

on: [push, workflow_dispatch]

concurrency: 
  group: environment-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: apt
      run: sudo apt update && sudo apt install ninja-build liblua5.1-0-dev liblua5.2-dev liblua5.3-dev libluajit-5.1-dev libncursesw5-dev zlib1g-dev libopengl-dev libglfw3-dev libcmark-dev python3-pil libfmt-dev
    - name: make
      run: |
        make -j$(nproc)

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: brew
      run: |
        brew install pkg-config glfw3 python3 cmark fmt coreutils make dylibbundler
        brew link --overwrite python3
        brew install pillow

    - name: make
      run: |
        gmake -j$(nproc) BUILDTYPE=osx

    - name: upload
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}.osx.${{ github.sha }}
        path: bin/WordGrinder-0.9-setup.pkg

  build-haiku:
    runs-on: ubuntu-latest
    container: 'docker.io/hectorm/qemu-haiku:latest'
    steps:
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: vmstart
        run: 'container-init & timeout 600 vmshell exit 0'

      - name: pkgman
        run: 'vmshell pkgman install -y make glfw_devel pkgconfig zlib_devel ncurses6_devel vim gcc pillow_python310'

      - uses: 'actions/checkout@main'

      - name: "copy to VM"
        run: 'vmshell mkdir ./src/; tar -cf - ./ | vmshell tar -xf - -C ./src/'

      - name: build
        run: 'vmshell make -C ./src/'

  build-windows:
    runs-on: windows-latest

    steps:
    - name: setup WSL
      run: |
        curl -L https://github.com/WhitewaterFoundry/Fedora-Remix-for-WSL/releases/download/39.0.1/Fedora-Remix-for-WSL-SL_39.0.1.0_x64_arm64.msixbundle -o fedora.msixbundle
        unzip fedora.msixbundle Fedora-Remix-for-WSL-SL_39.0.1.0_x64.msix
        unzip Fedora-Remix-for-WSL-SL_39.0.1.0_x64.msix install.tar.gz
        wsl --update
        wsl --import fedora fedora install.tar.gz
        wsl --set-default fedora
        wsl sh -c 'dnf -y install https://github.com/rpmsphere/noarch/raw/master/r/rpmsphere-release-38-1.noarch.rpm'
        wsl sh -c 'dnf -y install --setop=install_weak_deps=False gcc gcc-c++ mingw32-gcc mingw32-gcc-c++ mingw32-zlib-static mingw32-nsis python3-pillow'

    - name: fix line endings
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
        
    - uses: actions/checkout@v4
      with:
        path: 'wordgrinder'

    - name: run
      run: |
        wsl sh -c 'make -C wordgrinder BUILDTYPE=windows -j$(nproc)'

    - name: zip
      run: |
        wsl sh -c 'zip -9 wordgrinder-windows.zip wordgrinder/bin/*.exe'

    - name: upload
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}.windows.${{ github.sha }}
        path: wordgrinder-windows.zip

