name: C/C++ CI

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: apt
      run: sudo apt update && sudo apt install ninja-build liblua5.1-0-dev liblua5.2-dev liblua5.3-dev libluajit-5.1-dev libncursesw5-dev zlib1g-dev libopengl-dev libglfw3-dev imagemagick
    - name: make
      run: |
        ./configure \
          debug ncurses test \
          -and release ncurses test \
          -and release ncurses lua=lua5.1 test \
          -and release ncurses lua=lua5.2 test \
          -and release ncurses lua=lua5.3 test \
          -and release ncurses lua=luajit test \
          -and debug glfw \
          -and release glfw \
          -and release glfw lua=lua5.1 \
          -and release glfw lua=lua5.2 \
          -and release glfw lua=lua5.3 \
          -and release glfw lua=luajit 
        make

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: brew
      run: brew install pkg-config ninja glfw imagemagick wxwidgets
    - name: make
      run: |
        ./configure
        make

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        msystem: mingw32
        update: true
        install: >-
          make
          mingw-w64-cross-gcc
          mingw-w64-i686-glfw
          mingw-w64-i686-imagemagick
          mingw-w64-i686-nsis
          mingw-w64-i686-pkg-config
          mingw-w64-i686-zlib
          ninja
          vim
          zip
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: build
      run: |
        PATH=/mingw32/bin:/opt/bin:$PATH ./configure
        PATH=/mingw32/bin:/opt/bin:$PATH make
    - name: zip
      run: |
        zip -9 wordgrinder-windows.zip bin/WordGrinder-*-setup.exe
    - name: upload
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.event.repository.name }}.${{ github.sha }}
        path: wordgrinder-windows.zip

